%h2 List of Facilities
%table.table
  %tr
    %th Name
    %th Beds
    %th Description
    %th

  - @facilities.each do |facility|
    %tr
      %td= link_to facility.name, facility_path(facility)
      %td= facility.bed
      %td= facility.description

      %td= link_to "Edit", edit_facility_path(facility)
      / / %td= link_to "Delete", ward_patient_path()
      / %td= link_to "Delete", patient_path(patient), method: :delete

= link_to "Add Facility", new_facility_path

/ def age
/   now = Time.now.utc
/   now.year - birthday.year - (birthday.to_time.change(:year => now.year) > now ? 1 : 0)
/ end