
%h2
  = @facility.name
%h3
  Beds:
  = @facility.bed
%hr/
%h2 List of Patients
%table.table.table-striped
  %tr
    %th Name
    %th Age
    %th Gender
    %th Status
    %th
    %th 

  - group_id = 0
  - @facility.patients.each_slice(10) do |patient_group|
    - group_id += 1
    - patient_group.each do |patient|
      %tr{ class: "slice group_#{group_id} #{'hidden' if group_id > 1}" }
        %td= link_to "#{patient.lastname}, #{patient.firstname}", facility_patient_path(@facility, patient)
        %td= "#{((Date.today - patient.dob)/365.25).round(0)}"
        %td= patient.gender
        %td= patient.workflow_state
        %td= link_to "Edit", edit_facility_patient_path(@facility,patient)
        / %td= link_to "Delete", ward_patient_path()
        %td= link_to "Delete", facility_patient_path(@facility, patient), method: :delete
%div.text-center
  %ol.list-inline
    - group_id = 0
    - @facility.patients.each_slice(10) do |slice|
      - group_id += 1
      %li
        %a.paginator= group_id

= link_to "Add Patient", new_facility_patient_path(@facility)

%h2 List of Doctors
%table.table.table-striped
  %tr
    %th Name
    %th Specialty
    %th
    %th 

  - @facility.doctors.each do |doctor|
    %tr
      %td= link_to "Dr. #{doctor.name}", facility_doctor_path(@facility, doctor)
      %td= doctor.specialty
      %td= link_to "Edit", edit_facility_doctor_path(@facility,doctor)
      / %td= link_to "Delete", ward_doctor_path()
      %td= link_to "Delete", facility_doctor_path(@facility, doctor), method: :delete

= link_to "Add doctor", new_facility_doctor_path(@facility)

%hr
= link_to "Back", facilities_path