<h1>Change Game Information</h1>

<%= form_for @game do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :minplayers %>
  <%= f.text_field :minplayers %>
  <br>
  <%= f.label :maxplayers %>
  <%= f.text_field :maxplayers %>
  <br>
  <%= f.submit "Edit Game" %>

<% end %>

<br>

<%= link_to "Back", root_path %>