
%html
  %head
    %title Hospital
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Contact
        %h3.text-muted Fallout Health
  
  %div.wrapper
    %div.container
      %p.notice= notice
      %p.alert= alert
      = yield
    
  %div.footer
    %ul.list-inline
      %li 
        = link_to "Home", root_path
