
%html
  %head
    %title Hospital
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Contact
        %h3.text-muted Fallout Health
  
  %div.wrapper
    %div.container
      - flash.each do |key, value|
        - p key
        %div{class: "#{flash_class(key)}"}
          = value
      = yield
    
  %div.footer
    %ul.list-inline
      %li 
        = link_to "Home", root_path
