<h1>What's on your game shelf?</h1>

<hr>

<% @games.each do |game| %>

  <br>
  <img style="max-width:200px;" src="http://<%=game.title.gsub(/ /, '_')%>_boardgame.jpg.to">
  <%= game.title %>
  |
  <%= game.description %>
  |
  <%= game.minplayers %>-<%= game.maxplayers %> players
  |
  <%= link_to "Edit", edit_game_path(game) %>
  |
  <%= link_to "Delete", game_path(game), method: :delete %>

<% end %>

<br>
<br>

<%= link_to "Add Game", new_game_path%>