%h2 List of Medications


= form_tag(medications_path, method: :get, id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Search Medications"
  = submit_tag "Search", :name => nil


%table.table.table-striped
  %tr
    %th Name
    %th
    %th

  - @medications.each do |medication|
    %tr
      %td= link_to medication.name, medication_path(medication)

      %td= link_to "Edit", edit_medication_path(medication)

      %td= link_to "Delete", medication_path(medication), method: :delete

= link_to "Add Medication", new_medication_path

/ def age
/   now = Time.now.utc
/   now.year - birthday.year - (birthday.to_time.change(:year => now.year) > now ? 1 : 0)
/ end