%div.input-group 
  = form_for [@facility, @patient], html: {class: 'validation-form'} do |f|
    - if f.object.errors.messages.length>0
      - f.object.errors.messages.each do | key, value |
        = key.capitalize
        - value.each do |message|
          = message
          %br/
    = f.label :lastname, "Last Name", class: "control-label"
    = f.text_field :lastname, class: "form-control last-name-input", autofocus: true
    %p.last.requirement * required field
    = f.label :firstname, "First Name"    
    = f.text_field :firstname, class: "form-control first-name-input"
    %p.first.requirement * required field
    = f.label :gender, "Gender", class: "radio form-inline"
    = f.radio_button :gender, 'Male'
    Male
    = f.radio_button :gender, 'Female'
    Female
    %br
    = f.label :dob, "Date of Birth"
    = f.date_select(:dob, start_year: 1900, end_year: 2014 )
    %br
    = f.label :description, "Patient Details"
    = f.text_area :description, class: "form-control"
    %br
    = f.hidden_field :facility_id, value: @facility.id
    %br
    %h4 Prescribe Medicine
    - @medications.each do |medication|
      = check_box_tag 'patient[medication_ids][]', medication.id, @patient.medications.include?(medication), {id: "medication_id_#{medication.id}"}
      = label_tag "medication_id_#{medication.id}", medication.name
      %br
    / %h4 Make Appointment
    / - @doctors.each do |doctor|
    /   = check_box_tag 'patient[doctor_ids][]', doctor.id, @patient.doctors.include?(doctor), {id: "doctor_id_#{doctor.id}"}
    /   = label_tag "doctor_id_#{doctor.id}", doctor.name
    /   %br
    / - @patient.prescriptions.each do |prescription|
    /   = f.fields_for :prescriptions, prescription do |medication_field|
    /     = medication_field.label prescription.medication.name
    /     = medication_field.check_box :medication_id
    /     = medication_field.label prescription.medication.instruction
    /     = medication_field.text_area :instruction


   
    %br/
    = f.submit "Create Patient", class: 'submit'
